[submodule "themes/CodeIT"]
	path = themes/CodeIT
	url = https://github.com/sunt-programator/CodeIT.git
[submodule "public"]
	path = public
	url = https://github.com/dvesti/diagonaal.git
	branch = mшin
